<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>centerController</key>
	<dict>
		<key>ip</key>
		<string>192.168.0.6</string>
		<key>port</key>
		<string>6000</string>
	</dict>
	<key>currentSelect</key>
	<integer>1</integer>
	<key>展厅1</key>
	<dict>
		<key>count</key>
		<string>12</string>
		<key>展项1</key>
		<dict>
			<key>name</key>
			<string>序厅</string>
			<key>icon</key>
			<string>ipad界面单个-22.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>0</integer>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>展项2</key>
		<dict>
			<key>name</key>
			<string>地图投影</string>
			<key>icon</key>
			<string>ipad界面单个-23.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>computer1</key>
				<dict>
					<key>name</key>
					<string>主机</string>
					<key>ip</key>
					<string>192.168.0.150</string>
					<key>canplay</key>
					<true/>
					<key>canstop</key>
					<true/>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
					<key>cancontrolvol</key>
					<false/>
				</dict>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>projector1</key>
				<dict>
					<key>name</key>
					<string>投影仪</string>
					<key>ip</key>
					<string>192.168.0.120</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>展项3</key>
		<dict>
			<key>name</key>
			<string>柔直厅</string>
			<key>icon</key>
			<string>ipad界面单个-24.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>0</integer>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>展项4</key>
		<dict>
			<key>name</key>
			<string>数字沙盘</string>
			<key>icon</key>
			<string>ipad界面单个-25.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>2</integer>
				<key>computer1</key>
				<dict>
					<key>name</key>
					<string>沙盘主机</string>
					<key>ip</key>
					<string>192.168.0.152</string>
					<key>canplay</key>
					<true/>
					<key>canstop</key>
					<true/>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
					<key>cancontrolvol</key>
					<false/>
				</dict>
				<key>computer2</key>
				<dict>
					<key>name</key>
					<string>弧幕主机</string>
					<key>ip</key>
					<string>192.168.0.151</string>
					<key>canplay</key>
					<false/>
					<key>canstop</key>
					<false/>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
					<key>cancontrolvol</key>
					<false/>
				</dict>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>6</integer>
				<key>projector1</key>
				<dict>
					<key>name</key>
					<string>沙盘投影左</string>
					<key>ip</key>
					<string>192.168.0.124</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
				<key>projector2</key>
				<dict>
					<key>name</key>
					<string>沙盘投影中</string>
					<key>ip</key>
					<string>192.168.0.125</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
				<key>projector3</key>
				<dict>
					<key>name</key>
					<string>沙盘投影右</string>
					<key>ip</key>
					<string>192.168.0.126</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
				<key>projector4</key>
				<dict>
					<key>name</key>
					<string>弧幕投影左</string>
					<key>ip</key>
					<string>192.168.0.121</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
				<key>projector5</key>
				<dict>
					<key>name</key>
					<string>弧幕投影中</string>
					<key>ip</key>
					<string>192.168.0.122</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
				<key>projector6</key>
				<dict>
					<key>name</key>
					<string>弧幕投影右</string>
					<key>ip</key>
					<string>192.168.0.123</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>展项5</key>
		<dict>
			<key>name</key>
			<string>研究厅</string>
			<key>icon</key>
			<string>ipad界面单个-27.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>0</integer>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>展项6</key>
		<dict>
			<key>name</key>
			<string>监控平台</string>
			<key>icon</key>
			<string>ipad界面单个-28.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>2</integer>
				<key>computer1</key>
				<dict>
					<key>name</key>
					<string>一体机</string>
					<key>ip</key>
					<string>192.168.0.160</string>
					<key>canplay</key>
					<false/>
					<key>canstop</key>
					<false/>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
					<key>cancontrolvol</key>
					<false/>
				</dict>
				<key>computer2</key>
				<dict>
					<key>name</key>
					<string>多媒体主机</string>
					<key>ip</key>
					<string>192.168.0.153</string>
					<key>canplay</key>
					<false/>
					<key>canstop</key>
					<false/>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
					<key>cancontrolvol</key>
					<false/>
				</dict>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>projector1</key>
				<dict>
					<key>name</key>
					<string>投影</string>
					<key>ip</key>
					<string>192.168.0.127</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>展项7</key>
		<dict>
			<key>name</key>
			<string>基地成果</string>
			<key>icon</key>
			<string>ipad界面单个-30.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>computer1</key>
				<dict>
					<key>name</key>
					<string>主机</string>
					<key>ip</key>
					<string>192.168.0.154</string>
					<key>canplay</key>
					<false/>
					<key>canstop</key>
					<false/>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
					<key>cancontrolvol</key>
					<false/>
				</dict>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>展项8</key>
		<dict>
			<key>name</key>
			<string>技术新世界</string>
			<key>icon</key>
			<string>ipad界面单个-29.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>2</integer>
				<key>computer1</key>
				<dict>
					<key>name</key>
					<string>墙面主机</string>
					<key>ip</key>
					<string>192.168.0.155</string>
					<key>canplay</key>
					<true/>
					<key>canstop</key>
					<true/>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
					<key>cancontrolvol</key>
					<false/>
				</dict>
				<key>computer2</key>
				<dict>
					<key>name</key>
					<string>地面主机</string>
					<key>ip</key>
					<string>192.168.0.156</string>
					<key>canplay</key>
					<false/>
					<key>canstop</key>
					<false/>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
					<key>cancontrolvol</key>
					<false/>
				</dict>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>projector1</key>
				<dict>
					<key>name</key>
					<string>墙面投影左</string>
					<key>ip</key>
					<string>192.168.0.128</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
				<key>projector2</key>
				<dict>
					<key>name</key>
					<string>墙面投影右</string>
					<key>ip</key>
					<string>192.168.0.129</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
				<key>projector3</key>
				<dict>
					<key>name</key>
					<string>地面投影</string>
					<key>ip</key>
					<string>192.168.0.130</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>展项9</key>
		<dict>
			<key>name</key>
			<string>展望厅</string>
			<key>icon</key>
			<string>ipad界面单个-31.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>0</integer>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>展项10</key>
		<dict>
			<key>name</key>
			<string>未来展望</string>
			<key>icon</key>
			<string>ipad界面单个-32.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>computer1</key>
				<dict>
					<key>name</key>
					<string>主机</string>
					<key>ip</key>
					<string>192.168.0.157</string>
					<key>canplay</key>
					<true/>
					<key>canstop</key>
					<true/>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
					<key>cancontrolvol</key>
					<false/>
				</dict>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>projector1</key>
				<dict>
					<key>name</key>
					<string>弧幕投影左</string>
					<key>ip</key>
					<string>192.168.0.131</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
				<key>projector2</key>
				<dict>
					<key>name</key>
					<string>弧幕投影中</string>
					<key>ip</key>
					<string>192.168.0.132</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
				<key>projector3</key>
				<dict>
					<key>name</key>
					<string>弧幕投影右</string>
					<key>ip</key>
					<string>192.168.0.133</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>展项11</key>
		<dict>
			<key>name</key>
			<string>展馆藏珍</string>
			<key>icon</key>
			<string>ipad界面单个-33.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>computer1</key>
				<dict>
					<key>name</key>
					<string>主机</string>
					<key>ip</key>
					<string>192.168.0.158</string>
					<key>canplay</key>
					<true/>
					<key>canstop</key>
					<true/>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
					<key>cancontrolvol</key>
					<false/>
				</dict>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>projector1</key>
				<dict>
					<key>name</key>
					<string>投影仪</string>
					<key>ip</key>
					<string>192.168.0.134</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
